// ssid of the wlan to join
const char* WLAN_SSID = "myWifi";
// password for that wlan
const char* WLAN_PASSWORD = "superSecure";
// Kodi's IP
const char* KODI_HOST = "192.168.0.1";
// Kodi's API port
const int KODI_PORT = "9090";
